@model IEnumerable<asp.net_core_belarus.Data.Category>
@{
    ViewData["Title"] = "Categories";
}
<h2>Categories :</h2>

<ul>
    @foreach(var category in Model)
    {
        <li >
            <div>@category.CategoryName</div> 
            <div> 
                <font color="blue">@category.Description</font>
            </div>
        </li>
    }
</ul>

<a asp-action="Index">Back</a>

