
@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_HomePageLayout";
}

<div class="container">

    <div class="row">
        <div class="col-lg-10">
            <h2 align="center"> Welcome to Northwind Database !</h2>
        </div>
        <div class="col-lg-2">
            <partial name="_LoginPartial" />
        </div>
    </div>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light p-4">
                <a class="btn btn-default" asp-controller="Category" asp-action="Index"> Categories</a>
                <a class="btn btn-default" asp-action="Products"> Products</a>
                <a class="btn btn-default" asp-controller="Images" asp-action="Index"> Images</a>
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-default" asp-controller="Admin" asp-action="Index"> Admin</a>
                }
            </div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

</div>
