@{
    ViewData["Title"] = "Home Page";
}
<h2 align="center"> Welcome to Northwind Database !</h2>
<ul>
    <li>
        <a asp-action="Categories" align=""> Categories</a>
    </li>
    <li>
        <a asp-action="Products"> Products</a>
    </li>
</ul>
