@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_HomePageLayout";
}


<h2 align="center"> Welcome to Northwind Database !</h2>

<div class="container">

    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light p-4">
                <a class="btn btn-default" asp-controller="Category" asp-action="Index"> Categories</a>
                <a class="btn btn-default" asp-action="Products"> Products</a>
                <a class="btn btn-default" asp-controller="Images" asp-action="Index"> Images</a>
            </div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</div>
