@using  asp.net_core_belarus.Helpers
@model IEnumerable<asp.net_core_belarus.Data.Category>
@{
    ViewData["Title"] = "New Categories";
}
<h2>Categories :</h2>


<table class="table ">
    @foreach (var category in Model)
    {
    <tr>
        <td>@category.CategoryName</td>
        <td>@category.Description</td>
        <td>@Html.NorthwindImageLink(x=>category.CategoryID, category.CategoryID,  "Get image")</td>


        <td><a asp-action="UploadImage" asp-route-id="@category.CategoryID"> Upload image </a></td>
    </tr>
    }
</table>
<a asp-controller="Home" asp-action="Index">Back</a>
@section Footer{
    <p class="panel-footer text-info text-center"> NOTE : Your can’t edit categories.</p>
}
